 :root {
    --primary-color: #ffffff;
    --secondary-color: #CE1125;
    --tertiary-color: #006847;
    --quaternary-color: #720a14;
     height: 100%;
}

 html {
     height: 100%;
 }

body {
    background-color: var(--primary-color);
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    font-weight: bolder;
    min-width: 0;
}

nav {
    height: 100%;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    min-width: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    min-width: 0;
}

nav ul li {
    flex-basis: calc((100% - 11vh)/4);
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: flex-basis 250ms ease-in-out;
    overflow: hidden;
    min-width: 0;
}

nav ul li a {
    display: flex;
    align-self: center;
    color: var(--primary-color);
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    min-width: 0;
}

nav ul li.active {
    flex-basis:  calc((100% - 11vh)/4);
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--quaternary-color);
    height: 100%;
    line-height: 100%;
}

nav ul li:hover {
    background-color: var(--tertiary-color);
}

nav ul:first-child a.icon {
    display: none;
}

nav ul li.btn_set {
    flex-basis: 11vh;
    flex-grow: 0;
    flex-shrink: 0;
}

nav ul li.nav_teams:not(.nav_option) {
    flex-basis: 0;
    transition: flex-basis 250ms ease-in-out;
}

nav .nav_menu.teams_expand li:not(.nav_teams) {
    flex-basis: 0;
    transition: flex-basis 250ms ease-in-out;
}

nav .nav_menu.teams_expand li.nav_teams:not(.nav_option) {
    flex-basis: calc((100% - (100% - 11vh)/4 - 11vh)/5);
    transition: flex-basis 250ms ease-in-out;
}

nav ul li a.btn_set {
    height: 100%;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

ul li a.btn_set div.btn_lang {
    font-size: 2.25vh;
    background-color: var(--tertiary-color);
    border: 2px solid var(--primary-color);
    border-radius: 2vh;
    height: fit-content;
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding: 1px 0 0 0;
}

nav ul li a.btn_set:hover div.btn_lang {
    background-color: var(--secondary-color);
}

h1,h2 {
    display: inherit;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: inherit;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    text-decoration: inherit;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

#mob {
    display: none;
}

h3,h4 {
    display: inherit;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    text-decoration: inherit;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

div.main {
    flex-basis: 82.5%;
    flex-grow: 0;
    flex-shrink: 0;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    flex-basis: 7.5%;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.bottom_nav {
    flex-basis: 100%;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.foot_left, .foot_right{
    display: flex;
    flex-basis: 22%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
}

div.foot_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: inherit;
}

div.copyright {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    color: inherit;
    text-align: center;
    font-size: 3vh;
}

div.copyright i {
    font-size: 3vh;
}

div.contact {
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-around;
}

div.contact a {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 10%;
    flex-shrink: 0;
    justify-content: center;
    font-size: medium;
    text-decoration: none;
}

div.contact a i {
    font-size: 3vh;
    text-align: center;
}

div.contact a:hover {
    color: var(--tertiary-color);
}

div.foot_left ul.nav_menu {
    display: flex;
    justify-content: flex-start;
    flex-basis: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

li.btn_set {
    flex-basis: 35px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
}

li.btn_set:hover {
    flex-basis: 115px;
    transition: flex-basis 250ms ease-in-out;
}

li.btn_set a {
    color: #ffffff;
    text-decoration: none;
}

li.btn_set a div.btn_lang#long {
    display: none;
}

li.btn_set:hover a div.btn_lang#abb {
    display: none;
}

li.btn_set:hover a div.btn_lang#long {
    display: initial;
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
    h1, h2 {
        font-size: 4vh;
    }

    h3, h4 {
        font-size: 2vh;
        word-wrap: normal;
    }
}

@media screen and (min-width: 601px) and (max-width: 750px) {
    h1, h2 {
        font-size: 3vh;
    }

    h3, h4 {
        font-size: 2vh;
        word-wrap: normal;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        height: 10vh;
    }

    nav ul a {
        background-color: var(--secondary-color);
        height: 100%;
        line-height: 100%;
        width: 100%;
    }

    nav ul li {
        flex-basis: 100%;
        flex-shrink: 0;
    }

    nav ul li.btn_set {
        flex-basis: 0;
    }

    nav ul li.active {
        flex-basis: 100%;
    }

    nav ul li a .fa {
        align-self: center;
        font-size: 4vh;
    }

    nav ul li a .fa-solid {
        align-self: center;
        font-size: 5vh;
    }

    nav ul li:first-child a {
        flex-basis: calc(100% - 20vh);
    }

    nav ul li:first-child a.icon {
        display: inherit;
        flex-basis: 10vh;
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
        align-content: center;
        justify-content: center;
    }

    nav ul li.nav_option {
        flex-basis: 0;
        transition: flex-basis 250ms ease-in-out;
    }

    nav .nav_menu.nav_expand li.nav_option {
        flex-basis: 100%;
        transition: flex-basis 250ms ease-in-out;
    }

    nav ul li.nav_teams {
        flex-basis: 0;
        transition: flex-basis 250ms ease-in-out;
    }

    nav .nav_menu.teams_expand li.nav_teams {
        flex-basis: 100%;
        transition: flex-basis 250ms ease-in-out;
    }

    h1, h2 {
        font-size: 4vh;
    }

    h3, h4 {
        font-size: 3vh;
        word-wrap: normal;
    }

    #desk {
        display: none;
    }

    #mob {
        display: inherit;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #535353;
        --secondary-color: #000000;
        --tertiary-color: #ff1493;
        --quaternary-color: #252525;
    }

    ul li a {
        color: var(--tertiary-color);
    }

    nav ul li a.btn_set div.btn_lang {
        border: 2px solid var(--tertiary-color);
        background-color: var(--secondary-color);
    }

    nav ul li a.btn_set:hover div.btn_lang  {
        background-color: var(--quaternary-color);
        border: 2px solid #ffffff;
        color: #ffffff;
    }

    nav ul li a:hover {
        color: var(--secondary-color);
    }

    nav ul li a.btn_set:hover {
        background-color: var(--secondary-color);
    }
}